<!DOCTYPE html>
<html lang="en" >
	<head>
		<meta charset="utf-8">
		<title>购物车</title>
		<link rel="stylesheet" type="text/css" href="http://192.168.1.149/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="http://192.168.1.149/css/carousel.css" />
		<link rel="stylesheet" type="text/css" href="http://192.168.1.149/css/public.css" />
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="row">
						<div class="col">
							<div class="form-check">
								<input class="form-check-input position-static" type="checkbox" id="select" name="select" onclick="checkOrCancelAll()">
								<span>全选</span>
							</div>
						</div>
						<div class="col d-flex justify-content-end">
							<button type="button" class="btn btn-danger mb-1" id="del">删除</button>
						</div>
					</div>
					<hr class="featurette-divider mt-0 mb-5">
					<div id="container1">
					</div>
					<div class="row">
						<div class="col d-flex justify-content-end">
							<span class="price">合计：￥<span id="total"></span></span>
						</div>
						<div class="col-3 d-flex justify-content-end">
							<button type="button" class="btn btn-success mb-1">结算<span id="settlement"></span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		 crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		 crossorigin="anonymous"></script>
		<script src="http://192.168.1.149/js/public.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$.get("/shopping-cart",function(data,status){
				$(data).each(function(i){
					var x='';
					x+=`<div class="row d-flex align-items-center">
						<div class="col-2">
							<div class="form-check">
								<input class="form-check-input position-static" type="checkbox" name="select" data-gid="`+this.gid+`">
							</div>
						</div>
						<div class="col">
							<div class="card mb-3">
								<div class="row no-gutters">
									<div class="col">
										<img src="http://192.168.1.149/images/`+this.src+`" class="card-img">
									</div>
									<div class="col">
										<div class="card-body">
											<h5 class="card-title">`+this.name+`</h5>
											<p class="card-text mb-0">
												<small class="text-muted">款号：`+this.itm+`</small>
											</p>
											<p class="card-text">
												<small class="text-muted">尺码：`+this.value+`</small>
											</p>
											<p class="card-text"><small class="text-muted">有货</small></p>
										</div>
									</div>
									<div class="col" name="prices">
										￥<span class="price">`+this.discount_price+`</span>
										<p class="mt-4">
											<input class="form-control w-50" value="`+this.number+`"/>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr class="featurette-divider mt-0 mb-3">`

					$("#container1").append(x)
				});
			});
			function checkOrCancelAll() {
				var checkedElt = document.getElementById("select").checked;
				var allCheck = document.getElementsByName("select");
				if (checkedElt) {
					for (var i = 0; i < allCheck.length; i++) {
						allCheck[i].checked = true;
					}
				} else {
					for (var i = 0; i < allCheck.length; i++) {
						allCheck[i].checked = false;
					}
				}
			}
			function calculateCost(){
				var allCheck = document.getElementsByName("select");
				var tmp=0;
				$(allCheck).each(function(){
					if(this.checked){
						var prices=$($(this).parents(".row")[0]).find("div [name='prices']")[0];
						var price=$($(prices).find("span")).html();
						var number =$($(prices).find("input")).val();
						if(!isNaN(price*number)){
							tmp +=price*number;
						}
					}
				});
				$("#total").html(tmp);
			}

			$("#del").on("click",function (){
				var tmp=[];
				var allCheck = document.getElementsByName("select");
				$(allCheck).each(function(){
					if(this.checked){
						var x=$(this).attr("data-gid");
						if(!isNaN(x)){
							tmp.push(x)
						}
					}
				});
				$.ajax({
					url:"/shopping-cart",
					type:"post",
					dataType:"json",
					traditional:true,
					data:{"_method":"delete","gids":tmp},
					success:function (data) {
						if(data){
							window.location.href="/jp/cart"
						}
					}
				});
			});
			$('body').on("click",'input',function (){
				calculateCost();
			});
		</script>
	</body>
</html>
