<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.mapper.GoodsMapper">
    <select id="featured" resultType="map">
        select g.id,name,price,discount_price,status,src,more,title,type  from goods g inner join images i on g.id =i.gid inner join details d  on d.gid=g.id inner join type t on d.tid=t.id
       where t.id=#{tid}
    </select>
</mapper>
